@media print {
  .markdown-body *,
  .markdown-body *:before,
  .markdown-body *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .markdown-body a,
  .markdown-body a:visited {
    text-decoration: none;
    font-weight: 700;
  }

  .markdown-body a[href]:after {
    content: " (" attr(href) ")";
  }

  .markdown-body abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .markdown-body a[href^="#"]:after,
  .markdown-body a[href^="javascript:"]:after {
    content: "";
  }

  .markdown-body thead {
    display: table-header-group;
  }

  .markdown-body tr,
  .markdown-body img {
    page-break-inside: avoid;
  }

  .markdown-body img {
    max-width: 100% !important;
  }

  .markdown-body p,
  .markdown-body h2,
  .markdown-body h3 {
    orphans: 3;
    widows: 3;
  }

  .markdown-body h2,
  .markdown-body h3 {
    page-break-after: avoid;
  }
}

.markdown-body a,
.markdown-body a:visited {
  text-decoration: none;
  font-weight: 500;
  color: skyblue;
}

.markdown-body h1 {
  font-size: 3rem;
  font-weight: 700;
}

.markdown-body h2 {
  font-size: 2.6rem;
  font-weight: 500;
}

.markdown-body h3 {
  font-size: 2rem;
  font-weight: 500;
}

.markdown-body h4 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}

.markdown-body h5 {
  font-size: 1rem;
  font-weight: 600;
}

.markdown-body h6 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 600;
}

.modest-no-decoration {
  text-decoration: none;
}

.markdown-body p,
.modest-p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.8;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  margin: 1.414rem 0 .5rem;
  line-height: 1.5;
}

.markdown-body ul, .markdown-body ol {
  margin-left: 1.414rem;
  line-height: 1.5;
}

.markdown-body small,
.modest-small {
  font-size: .707em;
}

.markdown-body img,
.markdown-body canvas,
.markdown-body iframe,
.markdown-body video,
.markdown-body svg,
.markdown-body select,
.markdown-body textarea {
  max-width: 100%;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6,
.markdown-body p, 
.markdown-body ul, 
.markdown-body li,
.markdown-body ol,
.markdown-body body,
.markdown-body table  {
  font-family: 'avenir next', avenir, sans-serif;
}

.markdown-body blockquote {
  border-left: 6px solid #cfcfcf;
  padding-left: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  page-break-inside: avoid;
}

.markdown-body h1::after {
  content: '';
  display: block;
  height: 6px;
  margin-top: -15px;
  width: 50%;
  background:  #7777ff;
}

.markdown-body ul {
  line-height: 2;
}

.markdown-body ul,
.markdown-body ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown-body ol ol,
.markdown-body ul ol {
  list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
  list-style-type: lower-alpha;
}

.markdown-body dd {
  margin-left: 0;
}

.markdown-body table {
  border-collapse: collapse;
  width: auto;
}

.markdown-body table, th, td {
  border: 1px solid #EAEAEA;
  border-radius: 3px;
  padding: 8px 12px;
  line-height: 1.5;
}

.markdown-body th {
  background-color: #4f4f4f;
  color: #F8F8F8;
  font-weight: 400;
}

.markdown-body tr:nth-child(even) {
  background-color: #F8F8F8;
}

pre {
  position: relative;
  clear: both;
  color: #f8f8f2;
  background-color: #141434;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  font-size: 0.875;
  font-family: Consolas, monaco,monospace;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  padding: 1rem 2rem;
  margin: 0.5rem 0rem;
  overflow: auto;
  border-radius: 0.3em;
}

div[class*="language-"] {
     position: relative;
}

 pre[class*="language-"]::before {
    position: absolute;
    z-index: 3;
    top: 0.8em;
    right: 1em;
    font-size: 0.75rem;
    color: rgba(196,196,255,0.7);
 }

 pre[class~="language-js"]:before {
    content: 'js';
 }

 pre[class~="language-ts"]:before {
    content: 'ts';
 }

 pre[class~="language-json"]:before {
    content: 'json';
 }

 pre[class~="language-py"]:before {
    content: 'python';
 }

 pre[class~="language-python"]:before {
    content: 'python';
 }

 pre[class~="language-html"]:before {
    content: 'html';
 }

 pre[class~="language-markdown"]:before {
    content: 'markdown';
 }

 pre[class~="language-md"]:before {
    content: 'markdown';
 }

 pre[class~="language-go"]:before {
    content: 'go';
 }

 pre[class~="language-vue"]:before {
    content: 'vue';
 }

 pre[class~="language-bash"]:before {
    content: 'sh';
 }

 pre[class~="language-sh"]:before {
    content: 'sh';
 }

 pre[class~="language-rb"]:before {
    content: 'ruby';
 }

 pre[class~="language-ruby"]:before {
    content: 'ruby';
 }

 pre[class~="language-java"]:before {
    content: 'java';
 }

 pre[class~="language-c"]:before {
    content: 'c';
 }

 pre[class~="language-html"]:before {
    content: 'html';
 }

 pre[class~="language-css"]:before {
    content: 'css';
 }

 pre[class~="language-sass"]:before {
    content: 'sass';
 }

 pre[class~="language-scss"]:before {
    content: 'scss';
 }

 pre[class~="language-less"]:before {
    content: 'less';
 }

 pre[class~="language-stylus"]:before {
    content: 'stylus';
 }

 pre[class~="language-yaml"]:before {
    content: 'yaml';
 }

 pre[class~="language-json"]:before {
    content: 'JSON';
 }

 code[class*="language-"],
 pre[class*="language-"] {
     position: relative;
     z-index:1;
     color: #f8f8f2;
     background-color: #141434;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
     font-size: 0.875;
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 }
 
/* Code blocks */
pre[class*="language-"] {
    padding: 1rem 2rem;
    margin: 0.5rem 0rem;
    overflow: auto;
    border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #141434;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.5em;
    border-radius: 0.3em;
    white-space: normal;
}
:not(pre) > code {
background: #141434;
color: #00e0e0;
padding: 0.1rem 0.3rem;
border-radius: 0.2em;
white-space: normal;
font-size: 0.875;
font-weight: 200;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #d4d0ab;
}

.token.punctuation {
    color: #fefefe;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #ffa07a;
}

.token.boolean,
.token.number {
    color: #00e0e0;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #abe338;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: #00e0e0;
}

.token.atrule,
.token.attr-value,
.token.function {
    color: #ffd700;
}

.token.keyword {
    color: #00e0e0;
}

.token.regex,
.token.important {
    color: #ffd700;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

@media screen and (-ms-high-contrast: active) {
    code[class*="language-"],
    pre[class*="language-"] {
        color: windowText;
        background: window;
    }

    :not(pre) > code[class*="language-"],
    pre[class*="language-"] {
        background: window;
    }

    .token.important {
        background: highlight;
        color: window;
        font-weight: normal;
    }

    .token.atrule,
    .token.attr-value,
    .token.function,
    .token.keyword,
    .token.operator,
    .token.selector {
        font-weight: bold;
    }

    .token.attr-value,
    .token.comment,
    .token.doctype,
    .token.function,
    .token.keyword,
    .token.operator,
    .token.property,
    .token.string {
        color: highlight;
    }

    .token.attr-value,
    .token.url {
        font-weight: normal;
    }
}
